@model CommentViewModel
@using Microsoft.AspNetCore.Identity
@using WoodMasters2.Core.Models.Comments


@{
    ViewBag.Title = "Comments";
}
<head>
<style>
body  {
  background-image: url("/Images/comments-bg3.jpg");
  background-color: #cccccc;
}
</style>
</head>
<h2 class="text-left text-white">@ViewBag.Title</h2>
<hr class="border border-white border-2 opacity-75">

    <div class="row">        
      <div class="col-sm-6">
          
          <div class="card ">
              <img class="center card-img-top" style="width: 18rem;"
             src="@Model.MasterPiece.ImageURL" alt="Masterpiece Image">
              <div class="card-body">
                  <h4 class="card-title mt-1 text-center"><b><u>@Model.MasterPiece.Name</u></b></h4>
                   <p class="mb-1">Category: <b>@Model.MasterPiece.Category.Name</b></p>
                   <p class="mb-1">Master: <b>@Model.MasterPiece.Master.UserName</b></p>
                   <p class="mb-1">Width/Length/Depth[cm]: <b>@Model.MasterPiece.Width/@Model.MasterPiece.Length/@Model.MasterPiece.Depth</b></p>                
                   <p class="mb-1">Description: <b>@Model.MasterPiece.Description</b></p>
                   <p class="mb-0">Price: <b>@Model.MasterPiece.Price</b> $</p>
                   <p class="mb-1">Quantity: <b>@Model.MasterPiece.Quantity</b> pcs.</p>                   
                   <hr class="border border-primary border-2 opacity-75">
                    @if (Model.Comments.Count() > 0)
                    {
                        @foreach (var cmp in Model.Comments)
                        {        
                            <div class="card-body">
                        
                                <h5 class="card-title mt-1">@cmp.Master.UserName</h5>
                                <p  class="mb-1">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp--> @cmp.Body</p>
                                <p class="mb-0" style="font-style:italic ; font-size: 10px">Posted on: @cmp.PostingTime</p>
                                
                            </div>                    
                        
                        @if (User?.Identity?.Name == cmp.Master.UserName)
                          {                                            
                           <form class="form-check-inline input-group-sm"asp-route-id="@cmp.Id" asp-route-masterPieceId="@Model.MasterPiece.Id" asp-controller="Comment" asp-action="Edit"  method="get" >
                           <input class="fs-6 btn btn-sm btn-primary mb-1 p-1"type="submit" value="Edit"/>
                           </form>
                           <form class="form-check-inline input-group-sm"asp-route-commentId="@cmp.Id" asp-route-masterPieceId="@Model.MasterPiece.Id" asp-controller="Comment" asp-action="Delete" method="post">
                           <input class="fs-6 btn btn-sm btn-danger mb-1 p-1"type="submit" value="Delete"
                                 onclick="return confirm('Are you sure you want to delete the comment: @cmp.Body')"/>
                           </form>                                            
                          }
                          <hr class="border border-secondary border-2 opacity-75">
                        }                                 
                    }
                    else
                    {
                        <p class="text-center text-danger">No comments yet!</p>
                        <p class="text-center text-primary"> Be the first one to share Your toughts on it!</p>                        
                    }
                    <div class="d-grid gap-2 mb-2">
                            <a class="btn btn-primary btn-lg" asp-controller="Comment" asp-action="Add" asp-route-masterPieceId="@Model.MasterPiece.Id">Add Comment</a>
                    </div>
              </div>
           </div>
       </div>
    </div>
