@model CommentViewModel

@{
    ViewBag.Title = "All Comments";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

    <div class="row">        
      <div class="col-sm-6">
          <div class="card ">
              <img class="center card-img-top" style="width: 18rem;"
             src="@Model.MasterPiece.ImageURL" alt="Masterpiece Image">
              <div class="card-body">
                  <h4 class="card-title mt-1 text-center">@Model.MasterPiece.Name</h4>
                   <p class="mb-1">Category: @Model.MasterPiece.Category.Name</p>
                   <p class="mb-1">Master: @Model.MasterPiece.Master.UserName</p>
                   <p class="mb-1">Width/Length/Depth[cm]: @Model.MasterPiece.Width/@Model.MasterPiece.Length/@Model.MasterPiece.Depth</p>                
                   <p class="mb-1">Description: @Model.MasterPiece.Description</p>
                   <p class="mb-0">Price: @Model.MasterPiece.Price $</p>
                   <p class="mb-1">Quantity: @Model.MasterPiece.Quantity pcs.</p>
                   <p class="mb-0">Rating: @Model.MasterPiece.Rating</p>
                    @if (Model.Comments.Count() > 0)
                    {
                                              @foreach (var cmp in Model.Comments)
                                              {        
                                                  <div class="card-body">
                                              
                                                      <h5 class="card-title mt-1">@cmp.MasterPiece?.Master.UserName</h5>
                                                      <p class="mb-0">Comment: @cmp.Body</p>
                                                      <p class="mb-0">Posted on: @cmp.PostingTime</p>
                                                      
                                                  </div>                    
                                              
                                              @if (User?.Identity?.IsAuthenticated ?? false)
                                                              {
                                                                  <div class="d-grid gap-2">
                                                                      
                                                                      <form class="mt-2" asp-controller="Comment" asp-action="Delete" asp-route-id="@cmp.Id">
                                                                          <div class="d-grid gap-2">
                                                                              <input type="submit" value="Delete" class="btn btn-danger mb-2"
                                                                              onclick="return confirm('Are you sure you want to delete the post: @cmp.Body')"/>
                                                                          </div>
                                                                      </form>
                                                                  </div>
                                                              }
                                              }
                                       
                            
                       
                    }
                    else
                    {
                        <p class="text-center text-danger">No comments yet!</p>
                        <p class="text-center text-primary"> Be the first one!</p>
                        
                    }
                    <div class="d-grid gap-2 mb-2" >
                            <a asp-controller="Comment" asp-action="Add" asp-route-masterPieceId="@Model.MasterPiece.Id class="btn btn-primary">Add Comment</a>
                    </div>
              </div>
           </div>
       </div>
    </div>
