@model CommentViewModel
@using Microsoft.AspNetCore.Identity


@{
    ViewBag.Title = "Comments:";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr class="border border-primary border-2 opacity-75">

    <div class="row">        
      <div class="col-sm-6">
          <div class="card ">
              <img class="center card-img-top" style="width: 18rem;"
             src="@Model.MasterPiece.ImageURL" alt="Masterpiece Image">
              <div class="card-body">
                  <h4 class="card-title mt-1 text-center">@Model.MasterPiece.Name</h4>
                   <p class="mb-1">Category: @Model.MasterPiece.Category.Name</p>
                   <p class="mb-1">Master: @Model.MasterPiece.Master.UserName</p>
                   <p class="mb-1">Width/Length/Depth[cm]: @Model.MasterPiece.Width/@Model.MasterPiece.Length/@Model.MasterPiece.Depth</p>                
                   <p class="mb-1">Description: @Model.MasterPiece.Description</p>
                   <p class="mb-0">Price: @Model.MasterPiece.Price $</p>
                   <p class="mb-1">Quantity: @Model.MasterPiece.Quantity pcs.</p>
                   <p class="mb-0">Rating: @Model.MasterPiece.Rating</p>
                   <hr class="border border-primary border-2 opacity-75">
                    @if (Model.Comments.Count() > 0)
                    {
                                              @foreach (var cmp in Model.Comments)
                                              {        
                                                  <div class="card-body">
                                              
                                                      <h5 class="card-title mt-1">@cmp.Master.UserName</h5>
                                                      <p  class="mb-1">-->@cmp.Body</p>
                                                      <p class="mb-0" style="font-style:italic ; font-size: 10px">Posted on: @cmp.PostingTime</p>
                                                      
                                                  </div>                    
                                              
                                              @if (User?.Identity?.Name == cmp.Master.UserName)
                                                              {
                                                                  <form form-inline class="input-group-sm"asp-controller="Comment"asp-action="Edit" asp-route-commentId="@cmp.Id" asp-route-masterPieceId="@Model.MasterPiece.Id" >
                                                                  <input class="fs-6 btn btn-primary mb-3 p-2"type="submit"value="Edit"/>
                                                                  </form>
                                                                  <form form-inline class="input-group-sm"asp-route-commentId="@cmp.Id" asp-route-masterPieceId="@Model.MasterPiece.Id" asp-controller="Comment"asp-action="Delete"method="post">
                                                                  <input class="fs-6 btn btn-danger mb-3 p-2"type="submit"value="Delete"
                                                                        onclick="return confirm('Are you sure you want to delete the post: @cmp.Body')"/>
                                                                  </form>

                                                              }
                                                              <hr class="border border-secondary border-2 opacity-75">
                                              }
                                       
                            
                       
                    }
                    else
                    {
                        <p class="text-center text-danger">No comments yet!</p>
                        <p class="text-center text-primary"> Be the first one!</p>
                        
                    }
                    <div class="d-grid gap-2 mb-2">
                            <a class="btn btn-primary btn-lg" asp-controller="Comment" asp-action="Add" asp-route-masterPieceId="@Model.MasterPiece.Id">Add Comment</a>
                    </div>
              </div>
           </div>
       </div>
    </div>
