@using WoodMasters2.Core.Models.Comments
@model EditCommentViewModel

@{
    ViewBag.Title = "Edit Comment";
}
<head>
<style>
body  {
  background-image: url("/Images/edit-comment.jpg");
  background-color: #cccccc;
}
</style>
</head>
<h1 class="text-center text-white">@ViewBag.Title</h1>
<hr class="border border-primary border-2 opacity-75">

<div class="row col offset-lg-2 col-lg-8 offset-xl-0 col-xl-5">
    <form method="post">
        @Html.HiddenFor(m=>m.CommentId)      
        @Html.HiddenFor(m=>m.MasterPieceId)      
        <div class="form-group">
            
            <div class="mb-3">
                <label asp-for="Content"><b>You may edit your comment now:</b></label>
                <input asp-for="Content" class="form-control" placeholder="@Model.Content">
                <span asp-validation-for="@Model.Content" class="small text-danger"></span>
            </div>
        </div>
        <form class="input-group-sm" asp-controller="Comment" asp-action="Edit" asp-route-model="@Model" asp-route-masterPieceId="@Model.MasterPieceId">
        <input class="fs-6 btn btn-warning mb-3 p-2"type="submit"value="Edit Comment"/>
        </form>
        
    </form>
</div>

@section Scripts 
{
    <partial name="_ValidationScriptsPartial" />
}

