@model EditCommentViewModel

@{
    ViewBag.Title = "Edit Comment";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <form method="post">
        @Html.HiddenFor(m=>m.CommentId)      
        @Html.HiddenFor(m=>m.MasterPieceId)      
        <div class="form-group">
            
            <div class="mb-3">
                <label asp-for="Content"></label>
                <input asp-for="Content" class="form-control" aria-required="true" placeholder="@Model.Content">
                <span asp-validation-for="@Model.Content" class="small text-danger"></span>
            </div>
        </div>
        <form class="input-group-sm" asp-controller="Comment" asp-action="EditComment" asp-route-model="@Model" asp-route-masterPieceId="@Model.MasterPieceId">
        <input class="fs-6 btn btn-primary mb-3 p-2"type="submit"value="Edit Comment"/>
        </form>
        
    </form>
</div>

@section Scripts 
{
    <partial name="_ValidationScriptsPartial" />
}

