@using WoodMasters2.Core.Models.MasterPieces
@model MasterPieceViewModel

<div class="col-md-4">
<div class="card col-4" style="width: 25rem; ">
<img class="card-img-top center"style="width: 24rem;"src="@Model.ImageURL"alt="MasterPiece Image">
<div class="card-body">
        <div class="card-title mt-1"><u><b>@Model.Name</b></u> 
        
        <br />                    
                        <img src="~/Images/EmptyStar.gif" alt="Star Rating" align="middle" id="1" class="rating" mid="@Model.Id" />
                        <img src="~/Images/EmptyStar.gif" alt="Star Rating" align="middle" id="2" class="rating" mid="@Model.Id" />
                        <img src="~/Images/EmptyStar.gif" alt="Star Rating" align="middle" id="3" class="rating" mid="@Model.Id" />
                        <img src="~/Images/EmptyStar.gif" alt="Star Rating" align="middle" id="4" class="rating" mid="@Model.Id" />
                        <img src="~/Images/EmptyStar.gif" alt="Star Rating" align="middle" id="5" class="rating" mid="@Model.Id" />
                        (<b>@Model.RateCount</b> votes) 
                        @{if (@Model.RateCount > 0)
                            { double a=Math.Round((1.0*@Model.RateTotal / @Model.RateCount), 0,MidpointRounding.AwayFromZero); 
                                <br /><span style="color:black">Average rating : </span>
                                <span class="avr" style="font-size:large">  <b>@a</b> <img src ="~/Images/FilledStar.gif" alt="Star"> </span>
                            } 
                        }
                    <br>
                        <div class="result"></div>
       </div>
 <h6>Category: <b>@Model.Category</b></h6>
 <h6>Made of <b>@Model.Wood</b> wood</h6>
 <h6>@Model.Description</h6>
 <p class="mb-1">Width/Length/Depth: <b>@Model.Width / @Model.Length / @Model.Depth</b> cm</p>
<h6>Master: <b>@Model.Master</b></h6>
<h6>Price :<b>@String.Format("{0:f2}", Model.Price) USD</b></h6>
<h6><b>@Model.Quantity</b> more piece(s) available</h6>

<br/>
<a asp-controller="MasterPiece"asp-action="Details"asp-route-masterPieceId="@Model.Id"
class="btn btn-success">Details</a>
            @if (this.User?.Identity?.IsAuthenticated ?? false)
            {
                @if (User?.Identity?.Name!= Model.Master)
                {                
                <a asp-controller="MasterPiece" asp-action="AddToFavorites" asp-route-masterPieceId="@Model.Id"
                class="btn btn-warning">Add to Favorites</a>                                   
                }
                <a asp-controller="Comment" asp-action="AllComments"  asp-route-masterPieceId="@Model.Id"
                class="btn btn-secondary">Comments</a> 

            }           
</div>
</div>
</div>
