@model AddMasterPieceViewModel

@{
    ViewBag.Title = "Add MasterPiece";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label">Name</label>
                <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Width" class="form-label">Width</label>
                <input asp-for="@Model.Width" class="form-control" aria-required="true" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Length" class="form-label">Length</label>
                <input asp-for="@Model.Length" class="form-control" aria-required="true" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Depth" class="form-label">Depth</label>
                <input asp-for="@Model.Depth" class="form-control" aria-required="true" />
                <span asp-validation-for="Depth" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ImageURL" class="form-label">Image URL</label>
                <input asp-for="@Model.ImageURL" class="form-control" aria-required="true" />
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CategoryId" class="form-label">Category</label>
                <select asp-for="@Model.CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.WoodId" class="form-label">Wood Type</label>
                <select asp-for="@Model.WoodId" class="form-control">
                    @foreach (var woodtype in Model.Woods)
                    {
                        <option value="@woodtype.Id">@woodtype.Type</option>
                    }
                </select>
                <span asp-validation-for="WoodId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.SupplierId" class="form-label">Supplier</label>
                <select asp-for="@Model.SupplierId" class="form-control">
                    @foreach (var supplier in Model.Suppliers)
                    {
                        <option value="@supplier.Id">@supplier.Name</option>
                    }
                </select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

