
@model IEnumerable<MasterPieceViewModel>


@{
    ViewBag.Title = "All Masterpieces";
}

<head>
<style>
body  {
  background-image: url("/Images/all-background.jpeg");
  background-color: #cccccc;
}
</style>
</head>
<hr class="border border-warning border-2 opacity-75">

<h2 class="text-center text-white">@ViewBag.Title</h2>
<hr class="border border-warning border-3 opacity-75">


  
  


    <div class="text-center row">
        @foreach (var mp in Model)
        {
            
            <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="@mp.ImageURL" alt="Masterpiece Image">
            <div class="card-body">

                <div class="card-title mt-1">@mp.Name
                    <br />                    
                        <img src="~/Images/EmptyStar.gif" alt="Star Rating" align="middle" id="1" class="rating" mid="@mp.Id" />
                        <img src="~/Images/EmptyStar.gif" alt="Star Rating" align="middle" id="2" class="rating" mid="@mp.Id" />
                        <img src="~/Images/EmptyStar.gif" alt="Star Rating" align="middle" id="3" class="rating" mid="@mp.Id" />
                        <img src="~/Images/EmptyStar.gif" alt="Star Rating" align="middle" id="4" class="rating" mid="@mp.Id" />
                        <img src="~/Images/EmptyStar.gif" alt="Star Rating" align="middle" id="5" class="rating" mid="@mp.Id" />
                        (@mp.RateCount votes) 
                        @{if (@mp.RateCount > 0)
                            { decimal a=@mp.RateTotal / @mp.RateCount; <span class="avr" style="color:green"> <br /> @a:f2 Stars</span> <span style="color:black">average rating</span>} 
                        }
                    <br>
                        <div class="result"></div>
                </div>
                <p class="mb-1">Category: @mp.Category</p>
                <p class="mb-1">Master: @mp.Master</p>
                <p class="mb-1">Width/Length/Depth[cm]: @mp.Width/@mp.Length/@mp.Depth</p>                
                <p class="mb-1">Description: @mp.Description</p>
                <p class="mb-1">Wood: @mp.Wood</p>
                <p class="mb-0">Price: @mp.Price $</p>
                <p class="mb-1">Quantity: @mp.Quantity pcs.</p>
               
                
            </div>
            @if (User?.Identity?.Name!= mp.Master)
            {
                
                <form class="input-group-sm" asp-controller="MasterPiece" asp-action="AddToFavorites" asp-route-masterPieceId="@mp.Id">
                    <input type="submit" value="Add to Favorites" class="fs-6 btn btn-warning mb-3 p-2" />
                </form>
                                   
            }
            <form class="input-group-sm" asp-controller="Comment" asp-action="AllComments"  asp-route-masterPieceId="@mp.Id">
                    <input type="submit" value="Comments" class="fs-6 btn btn-secondary mb-3 p-2" />
                </form>            
            
        </div>
        
        }
    </div>
    
    @section Scripts {

    
    <script type="text/javascript">
        
    

    $(function () {
        $("img.rating").mouseover(function () {
            giveRating($(this), "FilledStar.gif");
            $(this).css("cursor", "pointer");
        });

        $("img.rating").mouseout(function () {
            giveRating($(this), "EmptyStar.gif");
            refilRating($(this));
        });
        $("img.rating").click(function (e) {
           // $("img.rating").unbind("mouseout mouseover click");
            $(this).css('color', 'red');
           // alert(e.currentTarget + ' was clicked!');
            // call ajax methods to update database
            var url = "/Rating/PostRating?rating=" + parseInt($(this).attr("id")) + "&mid=" + parseInt($(this).attr("mid"));
            $.post(url, null, function (data) {
                $(e.currentTarget).closest('div').find('div.result').text(data).css('color','red') // $("#result").text(data);
            });
        });
    });
    function giveRating(img, image) {
        img.attr("src", "/Images/" + image)
            .prevAll("img.rating").attr("src", "/Images/" + image);
    }
    function refilRating(img1)
    {
        var rt = $(img1).closest('div').find("span.avr").text();
        var img = $(img1).closest('div').find("img[id='" + parseInt(rt) + "']");
        
        img.attr("src", "/Images/FilledStar.gif").prevAll("img.rating").attr("src", "/Images/FilledStar.gif");
    }    
     
</script>
}