@using WoodMasters2.Core.Models.MasterPieces
@model MasterPieceViewModel
@{
    ViewBag.Title = "Details";
}

<head>
<style>
body  {
  background-image: url("/Images/all-background.jpeg");
  background-color: #cccccc;
}
</style>
</head>
<hr class="border border-warning border-2 opacity-75">

<h2 class="text-center text-white">@ViewBag.Title</h2>
<hr class="border border-warning border-3 opacity-75">

<div class="container"style="display:inline">
<div class="row">
<div class="col-4">
<img class="card-img-top mb-3"style="width: 20rem;"
src="@Model.ImageURL"alt="MasterPiece Image">
<div class="form-inline">
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <a asp-controller="Comment" asp-action="AllComments"  asp-route-masterPieceId="@Model.Id"
                     class="btn btn-secondary">Comments</a> 

                   if(User?.Identity?.Name == Model.Master)
                    {
                        <a class="btn btn-warning"asp-controller="MasterPiece"asp-action="Edit"
                        asp-route-id="@Model.Id">Edit</a>
                        <a class="ml-2 btn btn-danger"asp-controller="MasterPieces"asp-action="Delete"
                        asp-route-masterPieceId="@Model.Id">Delete</a>
                   
                    } 
                }
                
</div>
</div>
<div class="card col-8 border-0">
<p style="font-size:25px;"><u><b>@Model.Name</b></u></p>
<p>Category: <b>@Model.Category</b></p>
<p>Crafted by: <b>@Model.Master</b></p>
<p>
                Price Per Piece:
<b>@String.Format("{0:f2}", Model.Price) </b>USD
</p>
<p><b>@Model.Quantity</b> more piece(s) available</p>
<p class="mb-1">Width: <b>@Model.Width</b> cm</p>
<p class="mb-1">Length: <b>@Model.Length</b> cm</p>
<p class="mb-1">Depth: <b>@Model.Depth</b> cm</p>

<h6>@Model.Description</h6>
<h6>Made of <b>@Model.Wood</b> wood</h6>

            
</div>
<p></p>
<div class="card"style="width: 18rem;">
<div class="card-body">
<h5 class="card-title  text-primary center"><b><u>Crafter Info</u></b></h5>
<p class="card-text">Full Name: <b> @Model.MasterFullName</b></p>
<p class="card-text">Experience: <b> @Model.MasterExperience</b></p>
<p class="card-text">Email: <b> @Model.MasterEmail</b></p>
<p class="card-text">Phone Number: <b>@Model.MasterPhone</b></p>
<p class="card-text">Address: <b>@Model.MasterAddress</b></p>
</div>
</div>
</div>


</div>
