@model EditMasterPieceViewModel

@{
    ViewBag.Title = "Edit MasterPiece";
}
<head>
<style>
body  {
 
  background-color: #998999;
}
</style>
</head>
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            @Html.HiddenFor(m=>m.Id)
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label">Name</label>
                <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Width" class="form-label">Width</label>
                <input asp-for="@Model.Width" class="form-control" aria-required="true" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Length" class="form-label">Length</label>
                <input asp-for="@Model.Length" class="form-control" aria-required="true" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Depth" class="form-label">Depth</label>
                <input asp-for="@Model.Depth" class="form-control" aria-required="true" />
                <span asp-validation-for="Depth" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label">Description</label>
                <input asp-for="@Model.Description" class="form-control" aria-required="true" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ImageURL" class="form-label">Image URL</label>
                <input asp-for="@Model.ImageURL" class="form-control" aria-required="true" />
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CategoryId" class="form-label">Category</label>
                <select asp-for="@Model.CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="@Model.WoodId" class="form-label">Wood</label>
                <select asp-for="@Model.WoodId" class="form-control">
                    @foreach (var wood in Model.Woods)
                    {
                        <option value="@wood.Id">@wood.Type</option>
                    }
                </select>
                <span asp-validation-for="WoodId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label">Price</label>
                <input asp-for="@Model.Price" class="form-control" aria-required="true" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Quantity" class="form-label">Quantity</label>
                <input asp-for="@Model.Quantity" class="form-control" aria-required="true" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Confirm Edit" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

