@using WoodMasters2.Core.Models.MasterPieces

@model IEnumerable<MasterPieceViewModel>

@{
ViewBag.Title = "Favorite MasterPieces";
}
<head>
<style>
body  {
  background-image: url("/Images/fav-background.jpg");
  background-color: #cccccc;
}
</style>
</head>
<hr class="border border-primary border-2 opacity-100">
<h2 class="text-center text-primary">@ViewBag.Title</h2>
<hr class="border border-primary border-3 opacity-100">


<div class="text-center row">
    @foreach (var mp in Model)
    {
        <div class="card col-4"style="width: 20rem; ">
        <img class="card-img-top"style="width: 18rem;"
        src="@mp.ImageURL"alt="MasterPiece Image">
        <div class="card-body">

         <h5 class="card-title mt-1">@mp.Name</h5>
                <p class="mb-1">Category: @mp.Category</p>                
                <p class="mb-1">Width/Length/Depth[cm]: @mp.Width/@mp.Length/@mp.Depth</p>                
                <p class="mb-1">Description: @mp.Description</p>
                <p class="mb-1">Wood: @mp.Wood</p>
                <p class="mb-0">Price: @mp.Price $</p>
                <p class="mb-1">Quantity: @mp.Quantity pcs.</p>
                
        </div>

        <a asp-controller="Comment" asp-action="AllComments"  asp-route-masterPieceId="@mp.Id"
                class="btn btn-secondary">Comments</a> 
        <a asp-controller="MasterPiece" asp-action="Remove"  asp-route-masterPieceId="@mp.Id"
                class="btn btn-danger">Remove from Favorites
                <onclick="return confirm('Are you sure you want to remove MasterPiece: @mp.Name from your Favorites?')"/></a> 
        
      
        </div>
    }
</div>
