
@model IEnumerable<MasterPieceViewModel>

@{
ViewBag.Title = "Favorite MasterPieces";
}
<head>
<style>
body  {
  background-image: url("/Images/fav-background.jpg");
  background-color: #cccccc;
}
</style>
</head>
<hr class="border border-primary border-2 opacity-100">
<h2 class="text-center text-primary">@ViewBag.Title</h2>
<hr class="border border-primary border-3 opacity-100">


<div class="text-center row">
    @foreach (var mp in Model)
    {
        <div class="card col-4"style="width: 20rem; ">
        <img class="card-img-top"style="width: 18rem;"
        src="@mp.ImageURL"alt="MasterPiece Image">
        <div class="card-body">

         <h5 class="card-title mt-1">@mp.Name</h5>
                <p class="mb-1">Category: @mp.Category</p>                
                <p class="mb-1">Width/Length/Depth[cm]: @mp.Width/@mp.Length/@mp.Depth</p>                
                <p class="mb-1">Description: @mp.Description</p>
                <p class="mb-0">Price: @mp.Price $</p>
                <p class="mb-1">Quantity: @mp.Quantity pcs.</p>
                <p class="mb-0">Rating: @mp.Rating</p>
        </div>

        <form class="input-group-sm" asp-controller="Comment" asp-action="AllComments" asp-route-masterPieceId="@mp.Id">
                    <input type="button" value="Comments" class="fs-6 btn btn-secondary mb-3 p-2" />
                </form>    

        <form class="input-group-sm"asp-route-masterPieceId="@mp.Id"asp-controller="MasterPiece"asp-action="Remove"method="post">
        <input class="fs-6 btn btn-danger mb-3 p-2"type="submit"value="Remove from Favorites"/>
        </form>
        </div>
    }
</div>
