@using WoodMasters2.Core.Models.MasterPieces

@model IEnumerable<MasterPieceViewModel>

@{
ViewBag.Title = "Favorite MasterPieces";
}
<head>
<style>
body  {
  background-image: url("/Images/fav-background.jpg");
  background-color: #cccccc;
}
</style>
</head>
<hr class="border border-primary border-2 opacity-100">
<h2 class="text-center text-primary">@ViewBag.Title</h2>
<hr class="border border-primary border-3 opacity-100">


<div class="text-center row">
    @foreach (var mp in Model)
    {
        <div class="card col-4"style="width: 25rem; ">
        <img class="card-img-top"style="width: 20rem;"
        src="@mp.ImageURL"alt="MasterPiece Image">
        <div class="card-body">

         <h5 class="card-title mt-1"><u><b>@mp.Name</b></u></h5>
                <h6>Category: <b>@mp.Category</b></h6>
 <h6>Made of <b>@mp.Wood</b> wood</h6>
 <h6>@mp.Description</h6>
 <p class="mb-1">Width/Length/Depth: <b>@mp.Width / @mp.Length / @mp.Depth</b> cm</p>
<h6>Master: <b>@mp.Master</b></h6>
<h6>Price :<b>@String.Format("{0:f2}", mp.Price) USD</b></h6>
<h6><b>@mp.Quantity</b> more piece(s) available</h6>
                
        </div>

        <a asp-controller="Comment" asp-action="AllComments"  asp-route-masterPieceId="@mp.Id"
                class="btn btn-secondary">Comments</a> 
        <a asp-controller="MasterPiece" asp-action="Remove"  asp-route-masterPieceId="@mp.Id"
                class="btn btn-danger">Remove from Favorites
                <onclick="return confirm('Are you sure you want to remove MasterPiece: @mp.Name from your Favorites?')"/></a> 
        
      
        </div>
    }
</div>
