@model IEnumerable<MasterPieceViewModel>

@{
ViewBag.Title = "Owned MasterPieces";
}
<head>
<style>
body  {
  background-image: url("/Images/mine-background.jpg");
  background-color: #cccccc;
}
</style>
</head>
<hr class="border border-dark border-2 opacity-75">
<h1 class="text-center">@ViewBag.Title</h1>
<hr class="border border-dark border-3 opacity-75">


<div class="text-center row">
    @foreach (var mp in Model)
    {
        <div class="card col-4"style="width: 20rem; ">
            <img class="card-img-top"style="width: 18rem;"
            src="@mp.ImageURL"alt="MasterPiece Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@mp.Name</h5>
                <p class="mb-1">Category: @mp.Category</p>                
                <p class="mb-1">Width/Length/Depth[cm]: @mp.Width/@mp.Length/@mp.Depth</p>                
                <p class="mb-1">Description: @mp.Description</p>
                <p class="mb-1">Wood: @mp.Wood</p>
                <p class="mb-0">Price: @mp.Price $</p>
                <p class="mb-1">Quantity: @mp.Quantity pcs.</p>
               
            </div>

            <form class="input-group-sm"asp-route-Id="@mp.Id"asp-controller="MasterPiece"asp-action="Edit" method="get">
            <input class="fs-6 btn btn-warning mb-3 p-2"type="submit"value="Edit"/>
            </form>

            <form class="input-group-sm"asp-route-masterPieceId="@mp.Id"asp-controller="MasterPiece"asp-action="Delete"method="post">
            <input class="fs-6 btn btn-danger mb-3 p-2"type="submit"value="Delete"
            onclick="return confirm('Are you sure you want to delete the MasterPiece: @mp.Name')"/>
            </form>
        </div>
    }
</div>

