@using WoodMasters2.Core.Models.MasterPieces
@model IEnumerable<MasterPieceViewModel>

@{
ViewBag.Title = "Owned MasterPieces";
}
<head>
<style>
body  {
  background-image: url("/Images/mine-background.jpg");
  background-color: #cccccc;
}
</style>
</head>
<hr class="border border-dark border-2 opacity-75">
<h1 class="text-center">@ViewBag.Title</h1>
<hr class="border border-dark border-3 opacity-75">


<div class="text-center row">
    @foreach (var mp in Model)
    {
        <div class="card col-4"style="width: 20rem; ">
            <img class="card-img-top"style="width: 18rem;"
            src="@mp.ImageURL"alt="MasterPiece Image">
            <div class="card-body">

                <h5 class="card-title mt-1"><b><u>@mp.Name</u></b></h5>
                <p class="mb-1">Category: <b>@mp.Category</b></p>                
                <p class="mb-1">Width/Length/Depth[cm]:<b>@mp.Width/@mp.Length/@mp.Depth</b> </p>                
                <p class="mb-1">Description: <b>@mp.Description</b></p>
                <p class="mb-1">Wood: <b>@mp.Wood</b></p>
                <p class="mb-0">Price: <b>@mp.Price</b> $</p>
                <p class="mb-1">Quantity: <b>@mp.Quantity</b> pcs.</p>
               
            </div>
                <div class="form-inline">
                        <a class="btn btn-warning"asp-controller="MasterPiece"asp-action="Edit"
                        asp-route-id="@mp.Id">Edit</a>

                        <a asp-controller="MasterPiece"asp-action="Delete"
                        asp-route-masterPieceId="@mp.Id" method="post">
                            <input class="btn btn-danger"type="submit" value="Delete"
                                 onclick="return confirm('Are you sure you want to delete the masterpiece: @mp.Name')"/>
                        </a>
                </div>
        </div>
    }
</div>

